@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    font-weight: 600; 
    color: #333333;
}
.nav-link:hover {
    color: #20B2AA;
}
.nav-link.active {
    border-bottom: 3px solid #825afa ;
    color: #825afa;
}

html{
    overflow-y: scroll;
    overflow-x: hidden;
}